<h1>Tournaments</h1>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user_avatar(user) %></td>
        <td><%= user.email %></td>
        <td><%= link_to("Bets", bets_path(user_id: user.id)) %></td>
        <td><%= user_tournament_link(user, @tournament) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</ul>
