// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.left {
  float: left;
}

.right {
  float: right;
}

.matchup_wrestler .left .avatar {
}

.matchup_wrestler .right .avatar {
}

.matchup_wrestler .avatars {
  width: 175px;
}

.matchup_wrestler .avatar {
  margin: 10px;
}

.avatars.right {
  float: right;
}

.matchup_wrestler {
  text-align: center;
  width: 900px;
}

.matchup_wrestler p {
  font-size: 40px;
}

.matchup_wrestler .wrestler_avatar {
}

body.display {
  padding: 10px;
  background-image: image-url("wrestling-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  font-weight: bold;
  padding-top: 50px;
}

.fatality {
  display: none;
}

.bet {
  position: relative;
  text-align: center;
  font-size: 50px;
}

.bet.won {
  color: lightgreen;
}

.bet.lost {
  color: maroon;
}

.bet.won img, .bet.lost img {
  opacity: 75%;
}

.bet.lost {
  color: red;
}

.payout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#leaderboard-buffer {
  clear: both;
}

#leaderboard .position {
  border: thin solid white;
  float: left;
  margin-right: 20px;
  padding: 5px;
  background: black;
}
