// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tournament-match-up {
  clear: both;
  padding: 10px;
}

.tournament-match-up .home .wrestler_matchup,
.tournament-match-up .away .wrestler_matchup {
  width: 150px;
  height: 200px;
}

.tournament-match-up .marquee,
.tournament-match-up .away,
.tournament-match-up .home {
  width: 200px;
  float: left;
  text-align: center;
  border: thick solid white;
  padding-top: 25px;
}

.marquee {
  text-align: center;
}

.tournament-match-up .away,
.tournament-match-up .home {
  cursor: pointer;
}

.tournament-match-ups {
  list-style: none;
}

.college_logo {
  width: 25px;
  height: 25px;
}

body {
  margin: 0px;
}

.tournament-match-up .selected {
  border: thick dotted black;
}

.tournament-match-up .marquee .loading,
.tournament-match-up.loading .marquee .wrestlers {
  display: none;
}

.tournament-match-up.loading .marquee .loading {
  display: block;
}

#place_your_bets {
  font-size: 28px;
  text-align: center;
}

.tournament-match-up p {
  font-size: 16px;
  line-height: 22px;
}

h1 {
  text-align: center;
  padding: 30px;
  background: black;
  color: white;
}

#center-match-ups { 
  text-align: center;
}

.tournament-match-ups {
  display: inline-block;
}

.marquee p {
  font-size: 25px;
  line-height: 44px;
}
