
.lock_image {
  width: 50px;
}

#pickem_list {
  text-align: center;
}

#pickem_list input[type=submit] {
  font-size: 2em;
}

#pickem_list .selected input[type=submit] {
  background-color: lightgreen;
}

#pickem_list .selected {
  color: darkgreen;
  font-weight: bolder;
}

#pickem_list .not_selected {
  color: gray;
}

.pickem_won {
  color: darkgreen;
}

.pickem_lost {
  color: maroon;
}

.pickem_form_panel {
  /* width: 150px; */
  /* height: 150px; */
  /* float: left; */
}

.pickem_form_panel input[type=submit] {
  /* white-space: normal; */
  /* word-wrap: break-word; */
}
