// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tournament-match-ups {
  list-style: none;
}

.college_logo {
  width: 25px;
  height: 25px;
}

body {
  margin: 0px;
}

h1 {
  text-align: center;
  padding: 30px;
  background: black;
  color: white;
}

#center-match-ups {
  text-align: center;
  font-size: 2em;
}

#center-match-ups body, 
#center-match-ups p, 
#center-match-ups ol, 
#center-match-ups ul {
}

#center-match-ups p, h2 {
  font-size: 40px;
}

#center-match-ups td,
#center-match-ups th {
  font-size: 40px;
  width: 200px;
  height: 200px;
  line-height: 1.5em;
}

#center-match-ups .first_row th {
  height: 100px;
}

.hidden { display: none; }


.tournament-match-up {
  margin-bottom: 100px;
}
//
// // NEW STUFF FOLLOWS
//
#user_balance {
  color: darkgreen;
}

#center-match-ups td {
 border: thin solid black;
 border-radius: 3px;
 cursor: pointer;
}
//
// #center-match-ups input {
//   width: 75px;
// }
//
.hidden_bet_form {
  display: none;
}

.payout_ratio {
  color: darkblue;
}

#bet_pop_up {
  width: 90%;
  height: 50%;
  background: lightgray;
  margin: auto;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  border: 5px solid black;
  padding: 10px;
  color: black;
  display: none;
}

#bet_pop_up .bet_title {
  font-weight: bold;
  text-align: left;
  line-height: 2em;
}

.wager_field {
  font-size: 40px;
}

.wager_field input {
  font-size: 40px;
}


#bet_pop_up_buttons {
  text-align:center;
}

#bet_pop_up_buttons button {
  font-size: 60px;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
}

#submit_pop_up_form {
  background-color: green;
  color: white;
}

#close_bet_pop_up {
  background-color: salmon;
}

.bet_explanation { 
  clear: both;
  font-size: 40px;
  line-height: 1.5em;
  margin: 30px;
  text-align: left;
}
